/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.customHero {
  background-image: url('/img/1741858124783-isqa6.webp');
  background-size: cover;
  background-position: center;
  color: white;
}

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
